.Button{
    grid-row: 3/4;
    grid-column: 6/9;
    height: 50px;
    width: 350px;
    background-color: $color-blue-one; 
    clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
    -webkit-clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
    color:white;
    font-family: montserrat;
    font-size: 18px;
    justify-self: center;
}